body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* form styles */
.formgroup {
  margin-right: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.formgroup .form-error {
  color: red;
  font-size: 0.8em;
}

/* Data table styles */
.column-title {
  cursor: pointer;
}
.no-match-text {
  color: #aaa !important;
}
.btn-icon {
  cursor: pointer;
}
.MuiTableRow-root.Mui-selected {
  background-color: rgba(255, 0, 0, 0.1) !important;
}
.table-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.table-toolbar > div:last-child{
  flex:1;
  display: flex;
  justify-content: flex-end;
}
